.taskButton-container{
  border: 3px dashed gray;
  border-radius: 15px;
  cursor: pointer;
  grid-row-end: span 3;
  font-size: 1.6rem;
  min-height: 150px;
  position: relative;
}

.taskButton-content{
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  text-align: center;
  width: 100%;
}

.taskButton-content p{
  margin: 15px;
  color: blue;
}